<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/lib/handlebars.js"></script>

  </head>

  <body>
    <div class="container">
      <h1>Short<span>.</span>ly</h1>
      <div class="form-container">
        <%- body %>
      </div>
    </div>
  </body>
</html>
