<h2>Login</h2>
<form action="/login" method="post">
    <div>
      <input id="username" type="text" name="username" placeholder="Email address or username">
    </div>
    <div>
      <input id="password" type="password" name="password" placeholder="Password">
    </div>
    <div>
      <input type="submit" class="btn-submit" value="Sign In">
    </div>
</form>
<p>
  Don't have an account? <a href="/signup">Sign Up Now</a>
<p>
